footer {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    justify-content: center;
    background-color: white;
}

.messages {
    background-color: rgba(188, 188, 188, 0.451);
    padding: 10px;
}

.contentMessage {
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(188, 188, 188, 0.6);
}

.time {
    margin-top: 20px;
}
.time p {
    font-size: 10px;
    font-style: italic;
}