<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div>
            <h1>
                Jonte's Guestbook
            </h1>
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/write">Write</a>
                </li>
            </ol>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>Please be respectful with what you write!</p>
    </footer>
</body>
</html>