{% extends "base.html" %}
{% block title %}Jonte's Guestbook - Send your Message!{% endblock %}
{% block content %}
<div>
    <h2>
        Please send your message down below!
    </h2>
    <form method="POST" action="/send">
        Name: <input name="name" placeholder="Enter your name" type="text"><br>
        Email: <input name="email" placeholder="Enter your Email" type="text"><br>
        Tel: <input name="telephone" type="number"><br>
        Message: <br> 
        <textarea name="message"></textarea><br>
        <input type="submit">
    </form>
</div>
{% endblock %}